<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
-->

<!-- jquery -->
<script src="lib/jquery/jquery-2.1.1.min.js"></script>

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
</head>
<body ng-app="warehouse">
    <div ng-controller="FormCtrl">
        <ion-content>
            <form>
                 <div ng-show="pagenumber == 1">

                        <div class="list tracking-form">
                            <div class="item item-input-inset">
                                 <label class="item-input-wrapper">
                                      <input type="text" class="form-input" id="first-tracking-rma" placeholder="ex: 1283F23DK" ng-model="tracking" name="tracking-rma" ng-init="focusInit()" >
                                  </label>

                            </div>
                            <div class="item item-input item-select">
                            <div class="input-label large-font">
                                Search by
                            </div>
                             <select class="large-font" id="searchtype">
                                    <option selected value="tracking">Tracking Number</option>
                                    <option value="packageid">Package ID</option>
                                    <option value="rma">RMA</option>
                                    <option value="barcode">Barcode</option>
                                  </select>
                            </div>
                        </div>
                        <button class="button button-full button-positive button-form" id="lookup-button" ng-click="findData();">
                                      Search 
                        </button>
                       <!--  <button class="button button-full button-form" ng-click="testMode();">
                                     Test Mode 
                        </button> -->

                        <div class="lastpack-success lastpack" ng-show="lastpack == 'true';">
                            <h3> Last Package Saved Successfully </h3>
                        </div>
                        <div class="lastpack-fail lastpack" ng-show="lastpack == 'false';">
                            <h3> Last Package Wasn't Saved</h3>
                        </div>

                </div>
                <div ng-show="pagenumber == 2">
                    <table>
                            <tbody>
                                <tr>
                                    <td><p align="left"><input class="button" value="Next" type="submit" ng-click="postData();"></p></td>
                                    <td><p align="right"><input class="button careful" value="Reset" ng-click="resetVars();" type="submit"></p></td>
                                </tr>
                                <tr class="field">
                                   <td>Tracking Number</td> 
                                   <td>{{tracking}}</td>
                                </tr>
                                <tr class="field">
                                   <td>RMA</td> 
                                   <td><input type="text" class="inp" placeholder="ex: 12342" ng-model="rma" id="rma-number"  ng-keypress="pressEnter($event);" ng-init="focusInit()"></td>
                                </tr>
                    </table>

                    <div class="row">
                        <button ng-click="postData();" class="col col-30 button button-full button-positive button-form">
                            Next
                        </button>
                        <div class="space col col-30"></div>
                        <button ng-click="resetVars();" class="col col-30 button button-full button-form button-assertive">
                        Reset
                        </button> 
                    </div>
                      <div class="list tracking-form">
                         <h2> Tracking Number: {{tracking}} <br><br> </h2>
                            <div class="row">
                                <label class="item item-input col col-30">
                                            <span class="input-label">RMA:</span>
                                      <input type="text" class="form-input" placeholder="ex: 12342" ng-model="rma" id="rma-number"  ng-keypress="pressEnter($event);" ng-init="focusInit()">
                                  </label>
                                <label class="item item-input col col-30">
                                         <span class="input-label">Seller Number:</span>
                                      <input type="tel" class="form-input" placeholder="ex: 2343" value="9999" ng-model="seller" ng-keypress="pressEnter($event);" id="seller-number">
                                  </label>
                                <label class="item item-input col col-30">
                                        <span class="input-label">Weight in OZ:</span>
                                      <input type="tel" class="form-input" placeholder="0.38" ng-model="weight" id="weight" >
                                  </label>
                                  </div>
                                <label class="item item-input">
                                    <span class="input-label">Reason For Return:</span>
                                      <input type="text" class="form-input" placeholder="RMA" ng-model="rfr" id="rfr" ng-keypress="pressEnter($event);">
                                    </label>
                                <div class="item item-input item-select">
                                <div class="input-label large-font">
                                    Package Status
                                </div>
                                 <select class="large-font" id="package-status">
                                        <option value="Pending">Pending</option>
                                        <option value="Unusable">Unusable</option>
                                        <option value="Processed">Processed</option>
                                        <option value="Discarded">Discarded</option>
                                        <option value="Reshipped">Reshipped</option>
                                      </select>
                                </div>
                                <label class="item item-input" ng-repeat="extrafield in extrafields">
                                    <span class="input-label">{{extrafield}}:</span>
                                    <input type="text" class="form-input extrafield">
                                </label>
                            <div class="row">
                                <button ng-click="addField('Barcode');" class="col col-30 button button-full button-form button-royal"> 
                                    Add a Barcode
                                </button>
                                 <div class="space col col-30"></div>
                                <button ng-click="addField('RMA');" class="col col-30 button button-full button-form button-royal"> 
                                    Add RMA Number
                                </button> 
                            </div> 
                        </div>  
                </div>
                <div ng-show="pagenumber == 3">
                    <div class="row">
                        <button ng-click="pagenumber = pagenumber + 1" class="col col-30 button button-full button-positive button-form">
                            Next
                        </button>
                        <div class="space col col-30"></div>
                        <button ng-click="resetVars();" class="col col-30 button button-full button-form button-assertive">
                        Reset
                        </button> 
                    </div>
                     <div class="camera-text">
                        <h4> {{tracking}} </h4>
                        <h4> Write WHID on package and take photos</h4> 
                        <h1> WH PKG ID: {{pkgid}}</h1>
                    </div>
                    <div class="camera-upload">
                        <div class="take-picture-button">
                            <button class="icon ion-camera" ng-click="takePicture();"></button>
                        </div>
                </div>
                    <div class="images">
                            <div class="photosin" ng-repeat="photo in photos">
                                <img src="data:image/jpeg;base64,{{photo}}"  class="package-picture" ng-click="deletePhoto(photo);">
                            </div>
                            <div class="oldphotosin" ng-repeat="oldphoto in oldphotos">
                                <img src="{{oldphoto}}"   class="package-picture"  >
                            </div>
                    </div>
                </div>
                <div ng-show="pagenumber == 4">
                    <div class="row">
                        <button ng-click="updateData();" class="col col-30 button button-full button-positive button-form">
                            Update
                        </button>
                        <div class="space col col-30"></div>
                        <button ng-click="resetVars();" class="col col-30 button button-full button-form button-assertive">
                        Reset
                        </button> 
                    </div>
                    <div class="confirm-info">
                    <h2> Tracking: {{tracking}} </h2> 
                    <h2> RMA: {{rma}} </h2> 
                    <h2> Seller #: {{seller}} </h2>
                    <h2> Weight: {{weight}} </h2>
                    <h2> Reason for Return: {{rfr}}</h2>
                    <h2> Package Status: {{pkstatus}}</h2>
                    <h2> WH PKG ID: {{pkgid}}</h2>
                    </div>
                    <div class="images">
                            <div class="photosinagain" ng-repeat="photo in photos">
                                <img src="data:image/jpeg;base64,{{photo}}"  class="package-picture" ng-click="deletePhoto(photo);">
                            </div>
                            <div class="oldphotosin" ng-repeat="oldphoto in oldphotos">
                                <img src="{{oldphoto}}"   class="package-picture"  >
                            </div>
                    </div>
                </div>
                <div ng-show="pagenumber == 5">
                    <div class="row">
                        <button ng-click="updateData(1);" class="col col-30 button button-full button-positive button-form">
                            Update
                        </button>
                        <div class="space col col-30"></div>
                        <button ng-click="resetVars();" class="col col-30 button button-full button-form button-assertive">
                        Reset
                        </button> 
                    </div>
                      <div class="list tracking-form">
                        <div class="row">
                             <div class="item item-input-inset unchangable col col-30">
                                    <span class="input-label"> Tracking: </span>
                                    <h2 class="form-input" id="tracking-five">{{tracking}}</h2>
                            </div>
                              <div class="item item-input-inset unchangable col col-30">
                                    <span class="input-label">WH PKG ID: </span>
                                      <h2 class="form-input" id="pkgid-five">{{pkgid}}</h2>
                            </div>
                               <div class="item item-input-inset col col-30">
                                <label class="item item-input item-stacked-label">
                                        <span class="input-label">RMA:</span>
                                      <input type="text" class="form-input" ng-model="rma" id="rma-number-2"  ng-keypress="pressEnter($event);">
                                  </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item item-input-inset col col-30">
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Seller id:</span>
                                      <input type="tel" class="form-input" ng-model="seller" id="seller-number-2" >
                                  </label>
                            </div>
                            <div class="item item-input-inset col col-30">
                                <label class="item item-input item-stacked-label">
                                        <span class="input-label">Weight in KG:</span>
                                      <input type="tel" class="form-input" ng-model="weight" id="weight-2" >
                                  </label>
                            </div>
                            <div class="item item-input-inset col col-30">
                                <label class="item item-input item-stacked-label">
                                        <span class="input-label">RFR:</span>
                                      <input type="text" class="form-input" ng-model="rfr" id="rfr-2">
                                  </label>
                            </div>
                        </div>
                        <div class="item item-input item-select">
                        <div class="input-label large-font">
                                    Package Status
                                </div>
                                 <select id="package-status-2" class="large-font">
                                        <option selected value="{{pkstatus}}">{{pkstatus}}</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Unusable">Unusable</option>
                                        <option value="Processed">Processed</option>
                                        <option value="Discarded">Discarded</option>
                                        <option value="Reshipped">Reshipped</option>
                                      </select>
                                </div>
                            <div class="item item-input-inset"  ng-repeat="displayextrafield in displayextrafields">
                                <label class="item item-input item-stacked-label">
                                        <span class="input-label">Extra RMA/Barcode:</span>
                                      <input type="text" class="form-input extrafieldedit" value="{{displayextrafield}}">
                                  </label>
                            </div>
                            <div class="item item-input-inset"  ng-repeat="extrafield in extrafields">
                                <label class="item item-input item-stacked-label">
                                        <span class="input-label">{{extrafield}}:</span>
                                      <input type="text" class="form-input extrafield">
                                  </label>
                            </div>
                        </div>
                        <div class="images">
                            <div class="photosin" ng-repeat="photo in photos">
                                <img src="data:image/jpeg;base64,{{photo}}"  class="package-picture" ng-click="deletePhoto(photo);">
                            </div>
                            <div class="oldphotosin" ng-repeat="oldphoto in oldphotos">
                                <img src="{{oldphoto}}"   class="package-picture" ng-click="deleteOldPhoto(oldphoto);" >
                            </div>
                            <div class="icon ion-plus" ng-click="takePicture();" >
                                <h4> add photo</h4>
                            </div>
                         </div> 
                          <button ng-click="addField('RMA/Barcode');" class="button button-full button-royal"> 
                                    Add RMA or Barcode
                            </button>
                </div>
            </form>
        </ion-content>
        <ion-footer-bar class="bar-assertive" ng-show="testmode">
            <h3 class="white-text">Test Mode </h3>
        </ion-footer-bar>
    </div>
</body>
</html>
