<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
-->

<!-- jquery -->
<script src="lib/jquery/jquery-2.1.1.min.js"></script>

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
</head>
<body ng-app="warehouse">
    <div ng-controller="FormCtrl">
        <ion-header-bar id="header" class="bar bar-header bar-dark">
            <h1 class="title">{{titles[pagenumber - 1]}}</h1>
        </ion-header-bar> 
        <ion-content>
            <form>
                 <div ng-show="pagenumber == 1">

                        <div class="list tracking-form">
                            <h2 class="span-title"> Tracking or RMA # </h2>

                            <div class="item item-input-inset row">
                                 <label class="item-input-wrapper col col-80">
                                      <input type="text" class="form-input" id="first-tracking-rma" placeholder="ex: 1283F23DK" ng-model="tracking" name="tracking-rma" ng-init="focusInit()" >
                                  </label>
                                  <button class="button button-small col col-20" ng-click="findData();">
                                      Search 
                                  </button>
                            </div>
                        </div>
                </div>
                <div ng-show="pagenumber == 2">
                      <div class="list tracking-form">
                         <h2> Tracking Number: {{tracking}} <br><br> </h2>
                                <label class="item item-input item-stacked-label">
                                            <span class="input-label">RMA</span>
                                      <input type="text" class="form-input" placeholder="ex: 12342" ng-model="rma" id="rma-number"  ng-keypress="pressEnter($event);" ng-init="focusInit()">
                                  </label>
                                <label class="item item-input item-stacked-label">
                                         <span class="input-label">Seller Number</span>
                                      <input type="tel" class="form-input" placeholder="ex: 2343" ng-model="seller" id="seller-number">
                                  </label>
                                <label class="item item-input item-stacked-label">
                                        <span class="input-label">Weight in KG</span>
                                      <input type="tel" class="form-input" placeholder="0.38" ng-model="weight" id="weight" >
                                  </label>
                                  <label class="item item-input item-stacked-label" ng-repeat="extrafield in extrafields">
                                        <span class="input-label">{{extrafield}}:</span>
                                      <input type="text" class="form-input extrafield">
                                  </label>
                            <button ng-click="addField('Barcode');" class="button button-small button-royal"> 
                                Add Extra Barcode
                            </button>
                            <button ng-click="addField('RMA');" class="button button-small button-royal"> 
                                RMA
                            </button>  
                        </div>
                   <button ng-click="postData();" class="button button-full button-positive button-form button-bottom">
                        Post
                    </button>     
                   
                </div>
                <div ng-show="pagenumber == 3">
                    <div class="camera-upload">
                        <div class="take-picture-button">
                            <button class="icon ion-camera" ng-click="takePicture();"></button>
                        </div>
                    <div class="camera-text">
                        <h4> Write WHID on package and take photos</h4> 
                        <h2> WH PKG ID: {{pkgid}}</h2>
                    </div>
                </div>
                    <img src="data:image/jpeg;base64,{{photo}}" ng-repeat="photo in photos" ng-if="photo.length > 10" ng-click="deletePhoto(photo);" class="package-picture">
                    <img src="{{oldphoto}}" ng-repeat="oldphoto in oldphotos" ng-if="oldphoto.length > 10" class="package-picture">
                    <button ng-click="pagenumber = pagenumber + 1" class="button button-full button-balanced button-form button-bottom">
                        Done Taking Photos
                    </button>
                </div>
                <div ng-show="pagenumber == 4">
                    <div class="confirm-info">
                    <h2> Tracking: {{tracking}} </h2> 
                    <h2> RMA: {{rma}} </h2> 
                    <h2> Seller #: {{seller}} </h2>
                    <h2> Weight: {{weight}} </h2>
                    <h2> WH PKG ID: {{pkgid}}</h2>
                    </div>
                    <img src="data:image/jpeg;base64,{{photo}}" ng-repeat="photo in photos" class="package-picture" ng-if="photo.length > 10" ng-click="deletePhoto(photo);" class="package-picture">
                    <img src="{{oldphoto}}" ng-repeat="oldphoto in oldphotos" class="package-picture" ng-if="oldphoto.length > 10">

                    <button ng-click="updateData();" class="button button-full button-positive button-form button-bottom">
                        Done
                    </button>
                </div>
                <div ng-show="pagenumber == 5">
                      <div class="list tracking-form">
                        <h2> Tracking: {{tracking}} </h2>
                         <h2> WH PKG ID: {{pkgid}} </h2>
                            <div class="item item-input-inset">
                                <label class="item-input-wrapper">
                                        <span class="input-label">RMA:</span>
                                      <input type="text" class="form-input" ng-model="rma" id="rma-number-2"  ng-keypress="pressEnter($event);">
                                  </label>
                            </div>
                            <div class="item item-input-inset">
                                <label class="item-input-wrapper">
                                    <span class="input-label">Seller id:</span>
                                      <input type="tel" class="form-input" ng-model="seller" id="seller-number-2" >
                                  </label>
                            </div>
                            <div class="item item-input-inset">
                                <label class="item-input-wrapper">
                                        <span class="input-label">Weight:</span>
                                      <input type="tel" class="form-input" ng-model="weight" id="weight-2" >
                                  </label>
                            </div>
                            <div class="item item-input-inset"  ng-repeat="extrafield in extrafields">
                                <label class="item item-input item-stacked-label">
                                        <span class="input-label">{{extrafield}}:</span>
                                      <input type="text" class="form-input extrafield">
                                  </label>
                            </div>
                            <div class="item item-input-inset"  ng-repeat="displayextrafield in displayextrafields">
                                <label class="item item-input item-stacked-label">
                                        <span class="input-label">Extra RMA/Barcode:</span>
                                      <input type="text" class="form-input extrafield" value="{{displayextrafield}}">
                                  </label>
                            </div>
                        </div>
                        <div class="images">
                        <img src="data:image/jpeg;base64,{{photo}}" ng-repeat="photo in photos" class="package-picture" ng-click="deletePhoto(photo);" ng-hide="photo.length < 10">
                        <img src="{{oldphoto}}" ng-repeat="oldphoto in oldphotos"  class="package-picture" ng-if="oldphoto.length > 10" >
                         </div>
                        <button ng-click="takePicture();" class="button button-full button-balanced button-form">
                        Add more Photos
                    </button>
                         <button ng-click="updateData(1);" class="button button-full button-positive button-form">
                        Update
                    </button>
                </div>
                <div ng-show="pagenumber == 6">
                    <h1>Success</h1>
                </div>
            <button ng-click="resetVars();" class="button button-full button-form button-assertive" ng-hide="pagenumber == 1 || pagenumber == 6">
                Reset
                </button>
            </form>
            </ion-content>
        <ion-footer-bar class="row" ng-hide="pagenumber > 0">
            <button class="button button-small col col-25" ng-hide="pagenumber == 1 " ng-click="pagenumber = pagenumber - 1"> Prev </button>
            <button class="button button-small col col-25" ng-hide="pagenumber == 4" ng-click="pagenumber = pagenumber + 1"> Next </button>
        </ion-footer-bar>
    </div>
</body>
</html>
