/* Empty. Add your own CSS if you like */

.tracking-form {

	padding-top: 10%;
}


.camera-upload {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.take-picture-button{
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}

.ion-camera{
	font-size: 184px;
	height: 200px;
	background: white;
	border: none;
}


.bar-footer {
	height: 15%;
}

.button-form.button {
	margin-top: 10%;
	font-size: 18px;
}

.button-small.button {
		font-size: 18px;
}


h3 {
	margin-left: 10px;
}

.confirm-info {
	margin-left: 20px;
	margin-top: 40px;
}
