/* Empty. Add your own CSS if you like */

.tracking-form {
	margin-top: 40px;
}


.camera-upload {
	width: 100%;
}


.camera-text{
	margin-top: 40px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}

.take-picture-button{
	margin-top: 40px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	border-color: #498F24;
}

.ion-camera{
	font-size: 100px;
	background: #6C3;
	color: white;
	width: 200px;
	border-color: #498F24;

}

.toggle-list {
	margin-top: 120px;
}


.button-form.button {
	margin-top: 40px;
	font-size: 24px;
	height: 60px;
}

.button-small.button-royal.button {
		margin-top: 120px;
		height: 60px;
		width: 30%;
		margin-right: 10%;
}

.button-small.button{
		height: 60px;
		font-size: 20px;

}

.images {
	padding-top: 10px;
	width: 100%;
	padding-bottom: 10px;
	min-height: 50%;
}

.package-picture {
	width: 30%;
	margin-left: 20px;
	margin-top: 25px;
	margin-bottom: 40px;
	float: left;
	display: inline-block;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	

}

.tracking-form .form-input {
		height: 60px !important;
		font-size: 24px !important;
}

.tracking-form span {
	font-size: 28px;
}

h3, h2, h1 {
	margin-left: 10px;
}

.confirm-info {
	margin-left: 20px;
	margin-top: 40px;
}

.item-input.item-stacked-label {
	width: 100%;
}



.lastpack {
	margin-top: 40%;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lastpack-success h3{
	color: #6C3;
}

.lastpack-fail h3{
	color: red;
}

